* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E6F0F8;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #0077B6;
}

h1 {
    color: #ffffff;
    font-size: 3.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    margin-top: 2.5rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

label {
    font-size: 1.5rem;
    padding: 0.5rem;
}

input {
    width: 90%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 1.5rem;
}

select {
    width: 85%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 1.5rem;
}

button {
    width: 85%;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: #0077B6;
}